@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
  --maxWidth: 450px;
  --headerBgColor: rgb(16, 67, 136);
}

html, body{ 
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

body {
  position: relative;
  margin: 0;
  background: rgb(240,248,255);
  background: radial-gradient(circle, rgba(240,248,255,1) 0%, rgba(10, 79, 165, 0.28) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, body * {
  position: relative;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif, Calibri;
}

.root {
  position: relative;
  display: block;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  padding-top: 100px;
}

.root > * {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  max-width: var(--maxWidth);
  color: white;
  font-size: 20px;
}

header, header:before, header:after{
  background-color: var(--headerBgColor);
}

header:before, header:after {
  content: '';
  position: absolute;
  width: 40%;
  bottom: -5px;
  left: 20%;
  height: 8px;
  transform: perspective(1px) skewX(75deg);
  z-index: 1;
  backface-visibility: hidden;
}

header:after {
  right: 20%;
  left: unset;
  transform: perspective(1px) skewX(-75deg);
}

header > h2 {
  margin: 10px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 100px;
  max-width: var(--maxWidth);
  min-height: 400px;
  padding: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 15px 40px -10px rgba(120, 162, 199, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

main > h3 {
  padding: 0 10px;
}

.step {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  padding: 4px 10px;
  line-height: 1.5;
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  padding: 20px 10px;
  margin-top: 50px;
}

.screen-size span:nth-child(odd) {
  font-weight: 700;
}

.screen-size span:nth-child(even) {
  margin-left: 15px;
}

@media only screen and (min-device-width: 769px){ 
  .root {
    max-width: 75%;
    justify-content: center;
  }

  footer {
    max-width: var(--maxWidth);
    font-size: 14px;
  }
}
