:root {
  --rowHeight: 30px;
  --rowGap: 1px;
  --maxRowsVisible: 5;
  --maxSearchListHeight: calc(var(--maxRowsVisible) * var(--rowHeight) + var(--maxRowsVisible) * var(--rowGap));
  --smoothTrans: 0.15s all ease-in-out;
  --iconWidth: 35px;
  --iconSize: 20px;
  --iconColorLight: rgb(0, 110, 255);
  --iconColorDark: rgb(3, 63, 143);
  --inputPadding: 3px;
  --searchWidth: calc(100% - var(--iconWidth));
  --hoverBg: #34a1ff;
  --textColor: rgba(0, 0, 0, 0.555);
  --highlightedTextColor: rgba(0, 0, 0, 1);
  --arrowColor: rgb(0, 136, 226);
  --itemHoverBorderColor: rgba(0, 136, 226, 0.5);
}

.search-box__wrapper {
  position: relative;
  width: 100%;
}

.search-box__wrapper * {
  font-size: 14px;
  transition: var(--smoothTrans);
}

.search-box__wrapper > * {
  float: left;
}

.search-box__wrapper:after {
  clear: both;
}

.search-box__wrapper > .pin-search-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  width: var(--iconWidth);
  height: var(--rowHeight);
}

.search-box__wrapper > .pin-search-list > :first-child {
  width: var(--iconSize);
  height: var(--iconSize);
  user-select: none;
}

.search-box__wrapper > .pin-search-list > :first-child:active {
  transform: scale(0.75);
}

.search-box__wrapper option.filtered-out {
  display: none;
}

.search-list {
  position: relative;
  width: calc(var(--searchWidth) - var(--iconWidth));
  background-color: #e1e1e1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: var(--maxSearchListHeight);
  margin-left: var(--iconWidth);
}

.search-list > .report {
  position: relative;
  display: flex;
  align-items: center;
  color: rgb(92, 92, 92);
  font-style: italic;
  font-size: 10px;
  padding: 4px 8px;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.search-list.none-found > .report {
  font-size: 14px;
  font-style: initial;
  justify-content: center;
  background-color: #e3d3d3;
}

.search-list > .item {
  position: relative;
  display: none;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  height: var(--rowHeight);
  background-color: white;
  margin-bottom: var(--rowGap);
  user-select: none;
}

.search-list > .item:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  border: none;
  border-top: 1px solid var(--arrowColor);
  border-right: 1px solid var(--arrowColor);
  background-color: transparent;
  width: 6px;
  height: 6px;
  opacity: 0;

  transition: .25s all ease-in-out;
  transform-origin: center;
  transform: perspective(1px) translateY(-50%) rotateZ(45deg);
  backface-visibility: hidden;
}

.search-list > .item.found:last-of-type {
  border: none;
}

.search-list.pinned > .item,
.search-list > .item.found {
  display: flex;
}

.search-list > .item.found.is-last-found,
.search-list > .item.no-gap {
  margin-bottom: 0;
}

.search-list.pinned > .item.found.is-last-found {
  margin-bottom: 5px;
}

.search-list > .item > .text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  font-weight: 100;
  color: var(--textColor);
}

.search-list > .item b {
  color: var(--highlightedTextColor);
}

.search-list > .item.selected,
.search-list > .item:hover {
  padding-left: 20px;
  box-shadow: inset 0 0 0 1px var(--itemHoverBorderColor);
}

.search-list > .item.selected:before,
.search-list > .item:hover:before {
  left: 5px;
  opacity: 1;
}
.search-list > .item.selected > .text
.search-list > .item:hover > .text {
  color: var(--highlightedTextColor);
}

.search-row {
  position: relative;
  display: flex;
  width: var(--searchWidth);
  height: var(--rowHeight);
}

.search-row > * {
  position: relative;
  height: 100%;
}

.search-row > .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: var(--iconWidth);

  transform: translateX(var(--iconWidth));
}

.search-row > .search-icon:active {
  transform: translateX(var(--iconWidth)) scale(0.75);
}

.search-row.focused > .search-icon:active {
  transform: scale(0.75);
}

.search-row > .search-icon:hover:before {
  opacity: 1;
}

.search-row > .search-icon > svg {
  width: var(--iconSize);
  height: var(--iconSize);
  padding: 2px;
  user-select: none;
}

.search-row > input {
  background: transparent;
  border: none;
  outline: none;
  padding: var(--inputPadding);
  text-overflow: ellipsis;
}

.search-row > input + .borders {
  display: block;
  position: absolute;
  bottom: var(--inputPadding);
  left: var(--iconWidth);
  height: 0;
  border-bottom: 1px solid silver;
}

.search-row > input:focus + .borders {
  border-color: black;
}

.search-row > .search-icon ~ * {
  width: 0;

  backface-visibility: hidden;
  transition: 0.15s all ease-in-out, 0.35s transform ease-in-out;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: perspective(600px) skewX(-15deg) rotateX(90deg);
}

.search-row.focused > .search-icon ~ * {
  width: var(--searchWidth);
}

.search-row.focused > * {
  transform: none;
}

.search-box__wrapper > .search-row ~ * {
  display: none;
}

.search-row.focused ~ .pin-search-list {
  display: flex;
}

.search-row.focused ~ .search-list {
  display: block;
}

.search-row > .search-icon > svg,
.search-box__wrapper > .pin-search-list > :first-child,
.search-list > .item,
.search-list > .item * {
  cursor: pointer;
}

.ikona {
  position: absolute;
  display: block !important;
  width: var(--iconSize);
  height: var(--iconSize);
  top: 55px;
  right: 15px;
  clear: both;
}

.ikona > svg {
  width: 100%;
  height: 100%;
}