@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html, body{ 
  min-height: 100vh;
  overflow: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, body * {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif, Calibri;
}

#root {
  margin-top: 250px;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  margin: 0 auto;
  padding: 35px;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
