@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html, body{ 
  min-height: 100vh;
  overflow: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, body * {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif, Calibri;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 50%;
  max-width: 75%;
  min-height: inherit;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 100px;
  max-width: 450px;
  min-height: 400px;
  padding: 50px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 15px 40px -10px rgba(120, 162, 199, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
